@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: monospace;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
  position:relative;
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
ul, li {
	font-family: monospace;
	font-size: 1rem;
	color: #333;
}
a {
	color: #c0392b;
	text-decoration: none;
}
a:hover, a:focus {
	color: #e74c3c;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcapxion, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  width: 100%;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
#footer {
  background-color: #121212;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
}

#footer a {
  color: white;
  /* border-bottom: 2px solid #c0392b; */
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: auto;
  background-color: #252831;
  text-align:center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 0.625rem 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 1rem;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    font-size: 1rem;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 0.5rem;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #c0392b;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #e74c3c;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #c0392b;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 425px) {
  .filter-options {
    flex-direction: column;
    padding: 0.625rem 0;
  }
}
.filter-options .filter-results {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  height: 35px;
  letter-spacing: 0;
  margin: 0.625rem;
  padding: 0 0.625rem;
  width: 200px;
}

#map-container {
  width: 100%;
  display: none;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  font-family: 'Open Sans',sans-serif;
  margin: 15px;
  min-height: 380px;
  padding:25px;
  text-align: left;
  width: 270px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
h2.restaurant-name {
  color: #c0392b;
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 0.625rem;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 1rem;
}
#restaurants-list li a {
  background-color: #c0392b;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 15px 0 0;
  padding: 0.5rem 30px 0.625rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 100%;
  width: 100%;
  margin-top: 130px;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  min-height: 400px;
}
.inside #footer {
  width: 100%;
}
#restaurant-name {
  color: #c0392b;
  font-family: 'Open Sans',sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  width: 100%;
}
#restaurant-img {
  width: 100%;
}
#restaurant-address {
  font-size: 1.5rem;
  margin: 0.625rem 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.625rem;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
#restaurant-container {
  flex-direction: row;
}
.image-block {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.information-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
}

.information-block #restaurant-address,.information-block #restaurant-hours {
  padding: 0 25px;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #c0392b;
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1px;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
}
#reviews-list li p {
  margin: 0 0 0.625rem;
}
#restaurant-hours td {
  color: #666;
}
.review-name {
  color: #d35400;
}
.review-name:after {
  content: ' came on ';
  color: black;
  padding: 0 3px;
}
.review-date {
  font-style: italic;
}
.review-date:after {
  content: ' give a ';
  color: black;
  font-style: normal;
  padding: 0 3px;
}
.review-rating {
  font-weight: bold;
}
.review-rating:after {
  content: ' and said: ';
  color: black;
  padding: 0 3px;
  font-weight: normal;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header nav span a {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .inside #breadcrumb {
    width: 100%;
    padding: 10px 5px;
  }
  .inside #footer {
    width: 100%;
  }
  #restaurant-container, #reviews-container {
    width: 100%;
  }
  .inside #restaurant-container {
    order: 1;
    flex-direction: column;
    margin-top: 120px;
  }
  .image-block {
    width: 100%;
  }
  .information-block {
    width: 100%;
  }
  .inside #reviews-container {
    order: 2;
  }
  .inside #map-container {
    order: 3;
    width: 100%;
    height: 400px;
    margin-top: 0;
  }
  .information-block #restaurant-address,.information-block #restaurant-hours {
    padding: 0;
  }
}

.src-only {
  visibility: hidden;
  display: inline-block;
  width: 0;
  height: 0;
}

img {
	opacity: 1;
	transition: opacity 0.3s;
}

img.lazy {
	opacity: 0;
}

.restaurant {
  position: relative;
}

.restaurant i {
  font-size: 15px;
  position: absolute;
  top: 30px;
  right: 40px;
  display: block;
  width: 30px;
  background: white;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
  font-style: normal;
  line-height: 30px;
}

.favorite {
  color: #c0392b;
}